@font-face {
  font-family: 'Vazir';
  src: url('Farsi-Digits/Vazir-Regular-FD.eot');
  src: url('Farsi-Digits/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
       url('Farsi-Digits/Vazir-Regular-FD.woff2') format('woff2'),
       url('Farsi-Digits/Vazir-Regular-FD.woff') format('woff'),
       url('Farsi-Digits/Vazir-Regular-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('Farsi-Digits/Vazir-Bold-FD.eot');
  src: url('Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('Farsi-Digits/Vazir-Bold-FD.woff2') format('woff2'),
       url('Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
       url('Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('Farsi-Digits/Vazir-Light-FD.eot');
  src: url('Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
       url('Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
       url('Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src: url('Farsi-Digits/Vazir-Medium-FD.eot');
  src: url('Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
       url('Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
       url('Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
       url('Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}